.yellow {
  background-color: yellow;
}
.chocolate {
  background-color: chocolate;
}
.cyan {
  background-color: cyan;
}
.goldenrod {
  background-color: goldenrod;
}
.pink {
  background-color: pink;
}
